.App {
  text-align: center;
}

.App-footer {
  min-height: 20vh;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.App-log {
  min-width: 25vw;
  min-height: 100%;
  z-index: 6;
}

.App-LogEntry {
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-map {
  z-index: 1;
}

.App-map-tile {
  z-index: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
